.game {
    color: $white;
    text-align: center;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .board {
            flex: 0 0 60%;
        }
    }

    .test2 {
        line-height: 2rem;
        padding: 15px 30px;

        input[type=text] {
            font-size: 1rem;
            font-family: 'nokiafc22';
            background: transparent;
            border: none;
            border-bottom: 1px solid $white;
            color: $white;
        }

        button {
            font-size: 1rem;
            font-family: 'nokiafc22';
            background: transparent;
            border: 1px solid $white;
            color: $white;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $small) {
    .game {
        .container {
            flex-direction: column;
            .board { order: 1; }
            .instructions { order: 2; padding-top: 30px; }
            .ranking { 
                order: 3; 
                .ranking-wrap {
                    position: relative;
                }
            }
        }
    }
}
